extends ../layouts/layout

block title
    title Node - Express - Webpack - Pug(view engine)

prepend content
    h1 A boilerplate for Node - Express - Webpack - Pug(view engine)
    h1
        a(href="/api/v1") More Info